[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
gunicorn = "*"
black = "==20.8b1"
flake8 = "*"
isort = "*"

[packages]
flask-restplus = "*"
Flask = "*"
Flask-RESTful = "*"
Flask-Script = "*"
redis = "*"
werkzeug = "==0.16.1"
flask-httpauth = "*"
