[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.11"

[dev-packages]
flake8 = "*"
isort = "*"
xenon = "*"
black = "*"
python-dotenv = "*"

[packages]
gunicorn = "*"
redis = "*"
flask-httpauth = "*"
flask = "*"
flask-restful = "*"
flask-restx = "*"
